body {
    font-family: sans-serif;
}

header{
    height: 200px;
    background-image: url("http://c.files.bbci.co.uk/4B5A/production/_102609291_animals7.jpg")
}

h1{
    font-size: 50px;
    text-align: center;
    padding: 50px;
    color: Yellow;
}

.link-nav{
    background-image: linear-gradient(white);
    text-decoration: none;ite
    height: 40px;
    width: 120px;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;}

    .link-nav:hover{
background-image: linear-gradient(white);
    }

    main{
    background-image: linear-gradient(white);
}

footer{
    background-image: linear-gradient(yellow);
    font-size: 18px;
}
